* {
    font-family: "Pixelify Sans", system-ui;
}

body {
 background-image: url("background.jpg");
 background-color: #cccccc;
 background-size: cover;
}

table {
  border-collapse: collapse; /* Ensures single borders between cells */
  width: 100%;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

th, td {
  width: 33.33%;
  border: 1px solid black;
}


/* button */
button {
    font-family: "Pixelify Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: cornsilk;
    border: 2px solid #2f2e2a;
    padding: 8px 20px;
    box-shadow: 4px 4px #2f2e2a;
    transition-property: transform, box-shadow, outline-offset;
    transition: 100ms ease-in;
    margin-top: 10px;

    &:hover {
        cursor: pointer;
        background-color: lightgrey;
    }

    &:focus-visible {
        outline-offset: 12px;
        outline: 2px dotted #2f2e2a;
    }

    &:active {
        box-shadow: 2px 2px #2f2e2a;
        transform: scale(0.99);
    }
}

/* news ticker */
* { box-sizing: border-box; }
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: relative;
  top: 10;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background: 
   linear-gradient(rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 
   0 0/100% 200%;
   animation: a 2s linear infinite;
  padding-left: 100%;
  box-sizing: content-box;
  margin-left: -10px;

  .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;

    .ticker__item {
      display: inline-block;
      padding: 0 2rem;
      font-size: 2rem;
      color: white;   

    }
  }
}

@keyframes a {
  to {background-position:0 -200%}
}